<div class="card" style="width: 18rem;">
  <div class="card-body">
    <p> <%= @question %> </p>
    <p> -- You </p>
  <div>
  <div class="card-body">
    <p> <%= @answer %> </p>
    <p> -- Your Coach </p>
  </div>
</div>

<div>
<p><%= link_to "Ask a new quesiton", ask_path %></p>
</div>
