
<p> Ask your coach anything </p>
<form action="/answer">
  <div class="d-flex">
    <input class="form-control" type="text" name="question" style="width:400px">
    <input class="btn btn-primary" type="submit" value="Ask!">  
  </div>
</form>